<button data-toggle="collapse" data-target="#navmenu" class="float-right visible-xs nav-condensed-btn"><i class="fa fa-bars" aria-hidden="true"></i></button>

<div id="ballo-scrollo" class="scrollingBubble"></div>

<div id="navmenu" class="collapse navbar-collapse">
    <ul class="nav-header">
        <li><a data-scroll="scroll" href="#home" class="hvr-underline-from-left">Home</a></li>
        <li><a data-scroll="scroll" href="#about" class="hvr-underline-from-left">About</a></li>
        <li><a data-scroll="scroll" href="#exp" class="hvr-underline-from-left">Experience</a></li>   
        <li><a data-scroll="scroll" href="#projects" class="hvr-underline-from-left">Projects</a></li>
        <hr class="hidden-xs"/>
        <br class="hidden-xs"/>
        <li class="nav-header__li-smaller"><a href="mailto:abello.2015@gmail.com" class="hvr-underline-from-left font-ms nav-header__smaller">Contact</a></li>
        <li class="nav-header__li-smaller"><a href="https://github.com/wakawaka54" class="hvr-underline-from-left font-ms nav-header__smaller"><i class="fa fa-github-alt icon-spacing" aria-hidden="true"></i>GitHub</a></li>
        <li class="nav-header__li-smaller"><a href=" https://www.codeeval.com/profile/wakawaka54/" class="hvr-underline-from-left font-ms nav-header__smaller"><i class="fa fa-code icon-spacing" aria-hidden="true"></i>CodeEval</a></li>
        <li class="nav-header__li-smaller"><a href="https://www.facebook.com/alex.bello.376" class="hvr-underline-from-left font-ms nav-header__smaller"><i class="fa fa-facebook icon-spacing" aria-hidden="true"></i>Facebook</a></li>
    </ul>
</div>