<ul class="nav-header float-right">
    <!--<li><a href="#home" class="hvr-underline-from-left">Home</a></li>
    <li><a href="#about" class="hvr-underline-from-left">About</a></li>
    <li><a href="#exp" class="hvr-underline-from-left">Experience</a></li>   
    <li><a href="#projects" class="hvr-underline-from-left">Projects</a></li>-->
    <li><a href="mailto:abello.2015@gmail.com" class="hvr-underline-from-left">Contact</a></li>
    <hr/>
    <br/>
    <li class="nav-header__li-smaller"><a href="https://github.com/wakawaka54" class="hvr-underline-from-left font-ms nav-header__smaller"><i class="fa fa-github-alt icon-spacing" aria-hidden="true"></i>GitHub</a></li>
    <li class="nav-header__li-smaller"><a href=" https://www.codeeval.com/profile/wakawaka54/" class="hvr-underline-from-left font-ms nav-header__smaller"><i class="fa fa-code icon-spacing" aria-hidden="true"></i>CodeEval</a></li>
    <li class="nav-header__li-smaller"><a href="https://www.facebook.com/alex.bello.376" class="hvr-underline-from-left font-ms nav-header__smaller"><i class="fa fa-facebook icon-spacing" aria-hidden="true"></i>Facebook</a></li>
</ul>
