<ul class="nav-header float-right">
    <li><a href="#home" class="hvr-underline-from-left">Home</a></li>
    <li><a href="about" class="hvr-underline-from-left">About</a></li>
    <li><a href="#contact" class="hvr-underline-from-left">Contact</a></li>
    <li><a href="#projects" class="hvr-underline-from-left">Experience</a></li>
    <hr/>
    <br/>
    <li class="nav-header__li-smaller"><a href="#github" class="hvr-underline-from-left font-ms nav-header__smaller"><i class="fa fa-github-alt icon-spacing" aria-hidden="true"></i>GitHub</a></li>
    <li class="nav-header__li-smaller"><a href="#github" class="hvr-underline-from-left font-ms nav-header__smaller"><i class="fa fa-code icon-spacing" aria-hidden="true"></i>CodeEval</a></li>
    <li class="nav-header__li-smaller"><a href="#github" class="hvr-underline-from-left font-ms nav-header__smaller"><i class="fa fa-facebook icon-spacing" aria-hidden="true"></i>Facebook</a></li>

</ul>
