<div class="vert-timeline">
	<div class="vert-timeline-block">
		<div class="vert-timeline-timepoint">
		</div>
		<div class="vert-timeline-date">May 2016
		</div>
		<div class="vert-timeline-content">
			<p> Yay I have a bubble! </p>
		</div>
	</div>
	<div class="vert-timeline-block">
		<div class="vert-timeline-timepoint">
		</div>
		<div class="vert-timeline-date">May 2016
		</div>
		<div class="vert-timeline-content">
			<p> Yay I have a bubble! </p>
		</div>
	</div>
		<div class="vert-timeline-block">
		<div class="vert-timeline-timepoint">
		</div>
		<div class="vert-timeline-content">
			<p> Yay I have a bubble! </p>
		</div>
	</div>
</div>