<div style="height:500px">
</div>

<div class="vert-container">
<div class="vert-timeline">
	<div class="vert-timeline-block">
			<div class="vert-timeline-content">
			<p> Yay I have a bubble! </p>
		</div>
		<div class="vert-timeline-timepoint">
		</div>
		<div class="vert-timeline-date">
		<span>May 2016</span>
		</div>
	</div>
	<div class="vert-timeline-block">
		<div class="vert-timeline-timepoint">
		</div>
		<div class="vert-timeline-date">May 2016
		</div>
		<div class="vert-timeline-content">
			<p> Yay I have a bubble! </p>
		</div>
	</div>
		<div class="vert-timeline-block">
		<div class="vert-timeline-timepoint">
		</div>
		<div class="vert-timeline-content">
			<p> Yay I have a bubble! </p>
		</div>
				<div class="vert-timeline-date">May 2016
		</div>
	</div>
</div>
</div>

<div class="highlight" style="height:300px"></div>