{{> header}}

<script src="/components/typed.js/js/typed.js"></script>
<script>
$(function(){
  $("#type").typed({
        strings: ["Hi my name is Alex", "I am an electrical engineer", "I am a programmer", "I've done a lot of things", "Enjoy my site! - Alex Bello"],
        typeSpeed: 10
      });
});
</script>

<div class="index-canvas text-center font-l">
    <span id="type" style="line-height:100vh;"></span>
</div>

<div class="container-fluid">

<!--Intro statement-->

<hr/>
<br/>
<div class="row">
  <div class="col-md-4">
    <img class="img-circle index-img-me" src="/img/me2.jpg"/>
  </div>
  <div class="col-md-8 font-m text-center">
    <p>
      Hey, my name is Alex and I'm a Houston based engineer. My educational background is in electrifying engineering but I have programmed for, well, a while (>8 years). I tried out the chemical plant life for a while, and it's not bad, but I have passion for software that I just can't ignore. That's why I am looking for the next big thing, a dream job where I can work on a fun, collaborative team on software, databases, or operations! Be sure to look through my projects, you'll find that I pick up on things quickly and I like to try out interesting new ideas!
    </p>
  </div>
</div>

<div class="row">
  <div class="col-md-12 text-center">
  <i class="fa fa-graduation-cap smedium-sp" aria-hidden="true"></i>
  <p class="font-ml">Education</p>
  <p>University of Houston</p>
  <p>BS in Electrical Engineering (3.87 GPA)</p>
  </div>
</div>

<div class="row">
  <div class="col-md-12 text-center">
    <i class="fa fa-briefcase" aria-hidden="true"></i>
    <p class="font-ml">Experience</p>
  </div>
</div>

<div class="row">
    <div class="col-md-3 text-center">
      <p class="font-m">Chevron Phillips</p>
      <p class="font-ml">Controls Engineer</p>
      <p class="resume__experience-section">Managed huge dollar projects. <br/>
      Developed applications in C# and SQL to increase efficiency!</p>
    <div>
</div>
<div class="row">
    <div class="col-md-3 text-center">
      <p class="font-m">Chevron Phillips</p>
      <p class="font-ml">Controls Engineer</p>
      <p class="resume__experience-section">Managed huge dollar projects. <br/>
      Developed applications in C# and SQL to increase efficiency!</p>
    <div>
</div>

</div>