{{> header}}

<script src="/components/typed.js/js/typed.js"></script>

<div id="home" class="index-canvas text-center font-l">
  <span id="type" style="line-height:100vh;"></span>
</div>

<!--Intro statement-->
<div class="color-sec">
  <br/>
  <div class="row">
    <div class="col-md-4 matchHeight-el">
      <div id="about" class="index-img-wrapper">
        <img class="index-img-me" src="/img/me2.jpg"/>
      </div>
    </div>
    <div class="col-md-6 font-m matchHeight-ref">
      <p>
        <p class="font-mml italics">Hey, my name is Alex and I'm a Houston based engineer.</p>
        My educational background is in <span class="electrifying">electrifying engineering </span> but I have programmed for, well, a while (>8 years).<br/> I tried the chemical plant life for a while, and it's not bad, but I have passion for <b>software</b> that I just can't ignore. That's why I am looking for the next big thing, <b>a dream job</b> where I can work on a fun, collaborative team on software, databases, or operations!
        <br/>
        <br/>Be sure to look through my projects, you'll find that I pick up on things quickly and I like to try out interesting new ideas!
      </p>
    </div>
  </div>
</div>

<div id="exp"/>

<div class="row">
  <div class="col-md-12 text-center">
    <i class="fa fa-graduation-cap smedium-sp" aria-hidden="true"></i>
    <p class="font-ml">Education</p>
    <p>University of Houston</p>
    <p>BS in Electrical Engineering</p>
  </div>
</div>

<div class="row">
  <div class="col-md-12 text-center">
    <i class="fa fa-briefcase" aria-hidden="true"></i>
    <p class="font-ml">Experience</p>
  </div>
</div>

<div class="vert-container">
  <div class="vert-timeline">
    <div class="vert-timeline-block">
      <div class="vert-timeline-content">
        <p class="vert-timeline-title font-ml">Chevron Phillips<span class="font-m vert-timeline-position">Controls Engineer</span></p>
        <ul class="font-m">
          <li>Manage Controls, Instrumentation, & Electrical projects up to $500k</li>
          <li>Developed C# .NET application with SQL backend for Engineering Project Management</li>
        </ul>
        <br class="clearfix-me"/>
      </div>
      <div class="vert-timeline-timepoint">
      </div>
      <div class="vert-timeline-date">
        <span class="font-m">June 2015</span>
      </div>
    </div>
    <div class="vert-timeline-block">
      <div class="vert-timeline-timepoint">
      </div>
      <div class="vert-timeline-date">
        <span class="font-m">May 2014 - August 2014</span>
      </div>
      <div class="vert-timeline-content">
        <p class="vert-timeline-title font-ml">BASF USA<span class="font-m vert-timeline-position">Controls Engineer Intern</span></p>
        <ul class="font-m">
          <li>Manage small projects up to $100k</li>
          <li>Utilize SAP to schedule, purchase, track plant activities</li>
          <li>Developed C# .NET application with Access backend for SIS Preventive Maintenance Tracking</li>
        </ul>
        <br class="clearfix-me"/>
      </div>
    </div>
    <div class="vert-timeline-block">
      <div class="vert-timeline-timepoint">
      </div>
      <div class="vert-timeline-content">
        <p class="vert-timeline-title font-ml">University of Houston<span class="font-m vert-timeline-position">Facilitator</span></p>
        <ul class="font-m">
          <li>Lead Physics 2 & Calculus 3 workshop which strengthen student understanding</li>
          <li>Maintained website with workshop materials and study guides</li>
        </ul>
        <br class="clearfix-me"/>
      </div>
      <div class="vert-timeline-date">
        <span class="font-m">Fall 2013 - Spring 2015</span>
      </div>
    </div>
    <div class="vert-timeline-block">
      <div class="vert-timeline-timepoint">
      </div>
      <div class="vert-timeline-content">
        <p class="vert-timeline-title font-ml">University of Houston<span class="font-m vert-timeline-position">Research Assistant</span></p>
        <ul class="font-m">
          <li>Created and maintained Linux kiosks with lab presentations</li>
          <li>Developed LabView data aquisition program for PhD level Electrochemical and Nanofabrication experiment</li>
        </ul>
        <br class="clearfix-me"/>
      </div>
      <div class="vert-timeline-date">
        <span class="font-m">Fall 2013 - Spring 2014</span>
      </div>
    </div>

  </div>
</div>

<div class="color-sec-2">

  <br/>
<div id="projects"/>
  <div class="row">
    <div class="col-md-12 text-center">
      <i class="fa fa-hdd-o" aria-hidden="true"></i>
      <p class="font-ml">Projects</p>
    </div>
  </div>
  <div class="row">

    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 col-xl-4 col-centered">
      <div class="project-list">
       <div class="well">
        <div data-toggle="collapse" href="#project-two">
            <p class="project-list-title font-ml">WeeklyDev.io
            <span class="project-list-social font-m">
              <!--No social media icons-->
            </span>
            <span class="project-list-date font-ms">Currently working...</span></p>
            <p class="project-list-subheader">Website</p>
            <p class="project-list-details">Working full stack with a dev team for a weeklydev site for reddit/r/webdev (MongoDB + Node.js + NG2).
            </p>
          </div>
        </div>
        <div class="well">
          <div data-toggle="collapse" href="#project-one">
            <p class="project-list-title font-ml">Guantanamo
            <span class="project-list-social font-m">
              <a href="https://www.youtube.com/playlist?list=PLZ5V9ZyaoA1NWcKJAkbmFzBH6lyjPAFa3">
                <i class="fa fa-youtube-play" aria-hidden="true"></i>
              </a>
            </span>
            <span class="project-list-date font-ms">Fall 2014 - Spring 2015</span></p>
            <p class="project-list-subheader">SparkFun 2015 - University of Houston</p>
            <p class="project-list-details">Autonomous RC vehicle utilizing Arduino microcontroller and Raspberry Pi object recognition (OpenCV). A dashboard application was written in C# .NET to program and provide real-time commlink to the RC vehicle.
            </p>
          </div>
              <div id="myCarousel" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                  <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                  <li data-target="#myCarousel" data-slide-to="1"></li>
                  <li data-target="#myCarousel" data-slide-to="2"></li>
                </ol>

                <!-- Wrapper for slides -->
                <div class="carousel-inner" role="listbox">
                  <div class="item active">
                      <img class="center-block" src="/img/guantanamo.png"/>
                  </div>

                  <div class="item">
                      <img class="center-block" src="/img/guantanamo2.png"/>
                  </div>

                  <div class="item">
                    <img class="center-block" src="/img/guantanamo3.png"/>
                  </div>

                <!-- Left and right controls -->
                <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                  <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                  <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                  <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                  <span class="sr-only">Next</span>
                </a>
              </div>
            </div>
        </div>
        <div class="well">
        <div data-toggle="collapse" href="#project-two">
            <p class="project-list-title font-ml">Bello Enterprises Management Suite (BEMS)
            <span class="project-list-social font-m">
              <!--No social media icons-->
            </span>
            <span class="project-list-date font-ms">Spring 2016</span></p>
            <p class="project-list-subheader">eCommerce</p>
            <p class="project-list-details">Personal eCommerce inventory, profit and online listing management suite.
            </p>
          </div>
        </div>
        <div class="well">
        <div data-toggle="collapse" href="#project-three">
            <p class="project-list-title font-ml">Five Band Graphic Equalizer
            <span class="project-list-social font-m">
              <!--No social media icons-->
            </span>
            <span class="project-list-date font-ms">Fall 2014</span></p>
            <p class="project-list-subheader">University of Houston</p>
            <p class="project-list-details">Electronics project that takes in an analog signal (music) and equalizes different frequencies with analog hardware.
            </p>
        </div>

      </div>

    </div>

  </div>
</div>

</div>
