{{> header}}

<script src="/components/typed.js/js/typed.js"></script>
<script>
$(function(){
  $("#type").typed({
        strings: ["Hi my name is Alex", "I am an electrical engineer", "I am a programmer", "I've done a lot of things", "Enjoy my site! - Alex Bello"],
        typeSpeed: 10
      });
});
</script>

<div class="index-canvas text-center font-l">
    <span id="type" style="line-height:100vh;"></span>
</div>

<div class="container-fluid">

<!--Intro statement-->

<div class="row">
  <div class="col-md-4">
    <img class="img-circle" src="/img/me2.jpg"/>
  </div>
  <div class="col-md-6 font-m">
    <p>
      Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
    </p>
  </div>
</div>

</div>