{{> header}}

<script src="/components/typed.js/js/typed.js"></script>
<script>
$(function(){
  $("#type").typed({
        strings: ["Hi my name is Alex", "I am an electrical engineer"],
        typeSpeed: 0
      });
});
</script>

<div class="container-fluid">

<!--Intro statement-->

<div class="row">
  <div style="float:left;">
    <img class="index-img-me" src="/img/me.jpg"/>
  </div>
  <div class="col-md-6"> 
    <span id="type" class="font-m"></span><br/>   
    <p class="font-ms">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
    </p>
  </div>
</div>

<!-- Interactive Resume -->

<div class="row">
<div class="col-md-12">
  <h2 class="text-center">My Interactive Resume</h2>
  <hr class="hr-standard" />
</div>
</div>

<div class="row">
  <div class="col-md-12">
    <p class="resume__section-title font-ml">Educaton</p>
      <div class="resume__item">
        <p class="resume__section__entry-title font-m">University of Houston<span class="font-m pull-right">May 2011 - May 2015</span></p>
        <p>College of Electrical and Computer Engineering</p>
        <p>Bachelors of Science - Electrical Engineering</p>
        <p class="italics">Cumulative GPA: 3.87</p>
      </div>
      <div class="resume__item">
        <p class="resume__section__entry-title font-m">La Porte High School</p>
        <p>Top 10%</p>
      </div>
    </div>
</div>
<div class="row">
  <div class="col-md-12">
    <p class="resume__section-title font-ml">Experience!</p>
      <div class="resume__item">
        <p class="resume__section__entry-title font-m">Controls Engineer<span class="font-m pull-right">June 2015 - Present</span></p>
        <p>Chevron Phillips</p>
        <p>Houston, TX</p>
        <p>Worked on projects throughout the plant!</p>
        <p>Made peoples' life easier through developing applications in C# and SQL!</p>
      </div>
      <div class="resume__item">
        <p class="resume__section__entry-title font-m">Instrumentation Intern<span class="font-m pull-right">May 2014 - August 2014</span></p>
        <p>BASF</p>
        <p>Port Arthur, TX</p>
        <p>More projects!</p>
        <p>Developed a C# application that helped plan maintenance activities.</p>
      </div>
      <div class="resume__item">
        <p class="resume__section__entry-title font-m">Design Engineer Intern<span class="font-m pull-right">Winter 2013</span></p>
        <p>Revak Inc</p>
        <p>Developed a system with Arduino and C# GUI that monitored vibration of gas turbines using sensors and spit out some reports!</p>
      </div>
      <div class="resume__item">
        <p class="resume__section__entry-title font-m">Research Assistant<span class="font-m pull-right">Summer 2013 - Fall 2014</span></p>
        <p>University of Houston - Electrochemical Nanofabrication and Nanomaterial Group</p>
        <p>Maintained the <a href="http://www2.egr.uh.edu/~ecnfg/">ECNFG website</a></p>
        <p>Created Linux Kiosks that cycled through presentation web material outside of the labs! Cool!
        </p>
      </div>
      <div class="resume__item">
        <p class="resume__section__entry-title font-m">Facilitator<span class="font-m pull-right">Spring 2013 - May 2015</span></p>
        <p>University of Houston - Scholar Enrichment Program</p>
        <p>Taught fun freshman and sophomore students all about Physics 2 and Calculus 3!</p>
      </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <p class="resume__section-title font-ml">Involvement?</p>
      <div class="resume__item">
        <p class="resume__section__entry-title font-m">Vice President<span class="font-m pull-right">Fall 2014 - May 2015</span></p>
        <p>Institute of Electrical and Electronics Engineer - U of H</p>
      </div>
      <div class="resume__item">
        <p class="resume__section__entry-title font-m">Information Technology Chair<span class="font-m pull-right">May 2013 - August 2014</span></p>
        <p>Institute of Electrical and Electronics Engineer - U of H</p>
      </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <p class="resume__section-title font-ml">Cool things I've created!</p>
      <div class="resume__item">
        <p class="resume__section__entry-title font-m">Autonomous Ground Vehicle<span class="font-m pull-right">Fall 2014 - May 2015</span></p>
        <p>SparkFun Competition</p>
        <p class="italics">Lead Programmer</p> 
      </div>
  </div>
</div>