body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #3C3C3C;
  color: #F5F5F5;
  background: linear-gradient(-5deg, #2f3441 50%, #212531 50%);
  line-height: 2em;
}

a {
  color: #00B7FF;
}

/* Global Styles */
.highlight {
  background-color:yellow;
}

.font-l {
  font-size: 30px;
}

.font-ml {
  font-size: 22px;
}

.font-m {
  font-size:16px;
}

.font-ms {
  font-size:11px;
}

.font-s {
  font-size:9px;
}

.text-center {
  text-align: center;
  vertical-align: middle;
}

.float-right {
  float:right;
}

.hr-standard {
  width:30%;
  height: 5px;
  color:black;
  background-color: black;
}

.italics {
  font-style: italic;
}

/* Header Styles */

.nav-header {
  position: fixed;
  top: 0px;
  right: 40px;
  text-align: right;
}

.nav-header li {
  margin:20px;
  font-size:22px;
  list-style-type: none;
}

.nav-header li a:before {
  background: #F5F5F5;
  height:3px;
}

.nav-header li a {
  color: #F5F5F5;
  text-decoration: none;
}

.nav-header li a:visited {
  color: #F5F5F5;
  text-decoration: none;
}

.nav-header li a:hover {
  color: #F5F5F5;
  text-decoration: none;
}

.nav-header li a:active {
  color: #F5F5F5;
  text-decoration: none;
}

.nav-header .nav-header__smaller:before {
  height:1px;
  bottom:0px;
}

.nav-header .nav-header__smaller {

}

.nav-header .nav-header__li-smaller {
  margin-top:-20px;
}

.icon-spacing {
  margin-right:10px;
}

.small-sp {
  margin:10px;
}

.smedium-sp {
  margin:20px;
}

.medium-sp {
  margin:30px;
}

.mlarge-sp {
  margin:40px;
}

.large-sp {
  margin:50px;
}

/* Index Styles */

.index-img-me {
  height:auto;
  border-radius: 20px;
  display:block;
  max-width:200px;
}

.index-canvas {
  width:100vw;
  height:100vh;
}

/* Interactive Resume Styles */
.resume__section-title {
  color: darkblue;
}

.resume__experience-section {
  max-width:300px;
  margin:auto;
}

.resume__section__entry-title {
  font-weight: bold;
}

.resume__item {
  padding-top: 10px;
}

.resume__item p {
  margin: 0;
}

/* typed.js */

.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}